#heaven {
  position: fixed;
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffd6e8, #ffffff);
  z-index: -2;
}

#stars {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  z-index: -3;
  opacity: 0;
  animation: fadeStars 5s forwards;
  animation-delay: 3s;
}

@keyframes fadeStars {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 1.5s ease,
    transform 1.5s ease;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}
